.table{
	margin-bottom: 0px;
}
.learn-bar{
	padding-left: 0px !important ;
}
.todoapp{
	width: 820px;
}
.learn{
	margin-bottom: 10px;
}
.img-profile-MemberList{
	width: 50px;
	height: 50px;
}
.img-profile{
	width: 100px;
	height: 100px;
}
.td-link:hover {
	cursor: pointer;
}